@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}


body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  color: var(--platinum);
  background-color: var(--black);
}

::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-thumb {
  background: var(--orange-web); 
}

